*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

.header-wrapper { 
    min-height: 90px; 
 }
.header{
    width: 100%;
    height: 90px;
    background: white;
    border-bottom: 1px solid rgba(216, 216, 216, 0.438);
    z-index: 9999
}
.inner_header{
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: var(--theme-color);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Righteous', sans-serif;
    font-size: 32px;
    font-weight: 200;

}
.logo_container h1 span{
    font-weight: 200;
}

.navigation{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    padding:5px
}

.navigation li {
    color: rgb(75, 75, 80);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin:30px
}

.navigation li:hover, .navigation li:visited {
    color:var(--theme-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.footer{
    position: absolute;
    display: flex;
    flex: 0;
    bottom: 0px;
    width: 100%;
    height: 1rem;            /* Footer height */
    border-top: 2px solid rgba(119, 118, 131, 0.137);
    justify-content: space-evenly;
    text-align: center;
    color: rgb(119, 118, 131);
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    flex-shrink: 0;
}

.footer .copyright{
    padding-top: 50px;
}
.footer .icons{
    padding-top: 50px;
    font-size: 30;
    text-decoration: none;
}

.footer a{
    color: inherit;
}

.footer .info{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: left;
    font-size: 16;
    padding-bottom: 80px;
}
.footer .info li {
    margin: 0 0 10px 0
}


.dropdown {
    display: flex;
    float: right;
    flex-direction: column; 
    align-content: space-between;
}

.dropdown button {
    margin-top: 15%;
    color: var(--theme-color);
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 500px;
    border: 2px solid var(--theme-color);
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
}

.dropdown button:hover{
    background-color:var(--theme-color);
    color: white;
}

#dropdown-content a:hover li:hover{
    color: var(--theme-color);
}


.dropdown span {
    padding-left: 10px;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(143, 143, 143, 0.2);
    margin-top: 100px;
    width: 135px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(200, 196, 196);
    z-index: 999;

}
#dropdown-content a li {
    display: flex;
    color: rgb(119, 118, 131);
    justify-content: space-around;
    align-items: center;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 35px 0 35px 0;
}
.container {
    display: flex;
    flex-direction: column;

}

.main-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 100px auto;
    background: none;
    flex-wrap: wrap;
}

.main-article {
    display: flex;
    position: absolute;
    align-items: center;
    max-width: 1400px;
}
.main-article .buttons {
    text-align: center;
}


.picture img {
    display: flex;
    height: 40vh;
    max-height: 350px;
    width: auto;
}

.main-article h1{
    color: rgb(53, 53, 56);
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 1.3;
    padding-bottom: 40px;
    min-width: 550px;
    max-width: 600px;
}

.main-article p {
    color: rgb(119, 118, 131);
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    min-width: 400px;
    max-width: 450px;
}
.main-article .article-content {
    display: flex;
    flex-direction: row;
}
.vertical-line {
    border-left: 3px solid rgba(226, 159, 14, 0.781);
    height: 40px;
    margin-top: 8px;
    padding-right: 25px;
}

.main-container button {
    float: left;
    margin-top: 40px;
    height: 50px;
    border-radius: 200px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    
}

.buttons :last-child {
    margin-left: 40px;
}

.main-container .button-1 {
    background: rgb(42, 118, 224);
    color: white;
    width: 150px;
    border: none;
}

.main-container .button-1:hover {
    background-color:rgb(32, 84, 156)
}
.main-container .button-2:hover {
    background-color:rgb(32, 84, 156);
    border-color: rgb(32, 84, 156);
    color: white;
}
.main-container .button-2 {
    color: rgb(42, 118, 224);
    background-color: white;
    border-color: rgb(42, 118, 224);
    border: solid 3px;
    width: 200px;
}

.secondary-container {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 650px auto;
    background: none;

}

.secondary-article {
    display: flex;
    position: absolute;
    align-items: center;
    max-width: 1400px;
}
.secondary-article .buttons {
    text-align: center;
}

.secondary-container span {
    padding-left: 150px;
}

.secondary-article h1{
    color: rgb(53, 53, 56);
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 1.3;
    padding-bottom: 40px;
    min-width: 500px;
    max-width: 550px;
}

.secondary-article p {
    color: rgb(119, 118, 131);
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    min-width: 400px;
    max-width: 450px;
}
.secondary-article .article-content {
    display: flex;
    flex-direction: row;
}
.vertical-line {
    border-left: 3px solid rgba(226, 159, 14, 0.781);
    height: 40px;
    margin-top: 8px;
    padding-right: 25px;
}

.secondary-container button {
    float: left;
    margin-top: 40px;
    height: 50px;
    border-radius: 200px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 15px;
    outline: none;
}

.secondary-container .button-1 {
    background: rgb(42, 118, 224);
    color: white;
    width: 150px;
    border: none;

}

.secondary-container .button-2 {
    color: rgb(42, 118, 224);
    background-color: white;
    border-color: rgb(42, 118, 224);
    width: 200px;
    border: solid 3px;
}

.secondary-container .button-1:hover {
    background-color:rgb(32, 84, 156);

}
.secondary-container .button-2:hover {
    background-color:rgb(32, 84, 156);
    border-color: rgb(32, 84, 156);
    color: white;
}

/*
ABOUT
*/
:root {
    --theme-color: rgb(254, 111, 97);
    --ylva-color: rgb(211, 25, 56);
}

.background {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url('images/fall2.jpg');
    background-size: cover;
    justify-content: center;
    background-repeat:no-repeat;
    background-position-x: center;

}


.background h1{
    display: flex;
    position: relative;
    align-self: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 45px;
    padding-bottom: 16px;
    
}

.background h1:before{
    content: "";
    width: 150px;
    height: 3px;
    background: white;
    position: absolute;
    left: -165px;
    top: calc(50% - 8px);
}

.background h1:after{
    content: "";
    width: 150px;
    height: 3px;
    background: white;
    position: absolute;
    right: -165px;
    top: calc(50% - 8px);
}

.background li {
    color: white;
    display: flex;
    position: relative;
    align-self: center;
    font-family: 'Asap', sans-serif;
}

.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    margin: auto;
    align-items: center;
    width: 60%;
    height:800px;
}

.about h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(40, 40, 44);
    padding-bottom: 20px; 
    font-size: 40px;
    min-width: 500px;
    text-align: center;
}

.about h1:before{
    content: "";
    width: 90px;
    height: 4px;
    background: rgb(40, 40, 44);
    position: absolute;
    margin-top: 22px;
    margin-left: -105px; 
}

.about h1:after{
    content: "";
    width: 90px;
    height: 4px;
    background: rgb(40, 40, 44);
    position: absolute;
    margin-top: 22px;
    margin-left: 15px; 
}
.about h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;

    color: rgb(85, 84, 92);
    font-weight: 300;
    padding-bottom: 40px; 
    font-size: 22px; 
}
.about h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(85, 84, 92);
    font-weight: 300;
    padding-top: 40px; 
    font-size: 22px; 
}


.about .my-picture img{
    display: flex;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    
}

.about-detailed {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 900px;
}
.about-detailed .images{
    display: flex;
    flex-direction: row;

} 
.about-detailed .images li{
    display: flex;
    justify-content: space-around;
    align-self: center;
    color:white;
    margin-top: auto;
}
.about-detailed .images #java{
    position: relative;
    font-size: 47px;
    bottom: 21px;
    left: 685px;
    color: var(--theme-color);
    z-index: 5
}
.about-detailed .images #laptop{
    position: relative;
    font-size: 170px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--theme-color);
    left: 0px;
    bottom: 1px;
    z-index: 4;
}
.about-detailed .images #desktop{
    position: relative;
    font-size: 300px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--theme-color);
}
.about-detailed .images #mobile{
    position: relative;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--theme-color);
    bottom: 0px;
    right: 5px;
}
.about-detailed .images #coffee{
    position: relative;
    font-size: 80px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--theme-color);
    top: 4px;
    left: 10px;
}

.about-detailed .images #python{
    position: relative;
    font-size: 100px;
    bottom: 128px;
    right: 375px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--theme-color);
}

.about-detailed .colored-background {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 700px; 
    background-color: var(--theme-color);
}

.about-detailed .colored-background h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 40px;
}


.colored-background .text-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}

.colored-background .para {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    width: 700px;


}

.skills-container {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
    height: 700px ;
    width: 60%;
    min-width: 800px;
    border: 1px solid rgba(216, 216, 216, 0.712);
    border-radius: 20px;
    background: white;
    top: -180px;
    box-shadow: 0px 8px 6px -8px rgba(29, 29, 29, 0.178);
}

.skills-container h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(40, 40, 44);
}


.skills-container h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px; 
    width: 200px;
    color: var(--theme-color);
    margin: auto;
}

.skills-container li, .skills-container p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: rgb(85, 84, 92);
    font-weight: 300;
    font-size: 18px; 
    width: 250px;
    margin: auto;
}

.skills-container .box-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-right: 1px solid rgba(216, 216, 216, 0.712);
}
.skills-container .box-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 


.skills-container .box-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid rgba(216, 216, 216, 0.712);
}

.skills-container .box-icon{
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 60px;
    color: white;
    text-align: center;

}

.backg{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    width: 50%;
    min-width: 800px;
    max-width: 1000px;
    height: 1000x;
}

.backg .bg{
    position: absolute;
    margin-top: 300px;
    width: 100vw;
    height: 1000px;
    z-index: -1;
    background-color: var(--theme-color);
}

.backg .title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(40, 40, 44);
    padding-bottom: 20px; 
    font-size: 40px;
    
    min-width: 500px;
    text-align: center;
}


.backg .title h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-width: 600px;
    color: rgb(85, 84, 92);
    font-weight: 300;
    padding-bottom: 100px; 
    font-size: 22px; 
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.education .master {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    justify-content: space-around;
}

.master .info {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 40px;

}

.education .bachelor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 200px;

}

.bachelor .info {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 40px;
}

.education h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(40, 40, 44);
    margin-bottom: 30px;
}

.education h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--theme-color);
    font-weight: 500;
    line-height: 1.6;

    font-size: 18px;
    margin-bottom: 10px;

}

.education p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: rgb(85, 84, 92);
    font-weight: 300;
    font-size: 18px; 
}

.education .img {
    display: flex;
    justify-content: center;
}

.education .img img{
    width: 200px;
    height:200px;
    margin: auto;
}

.work{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 100%;
    height: 800px;
    justify-content: flex-start;
}
.work .bg{
    background-color: var(--theme-color);
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;
}
.work .info {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    text-align: center;
}

.work .info h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 40px;
}
.work .info h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    width: 600px;
    margin: auto;
}

.work-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}
.work-container .project-1 {
    width: 450px;
    height: 350px;
    border: 1px solid rgba(216, 216, 216, 0.712);
    border-radius: 20px;
    background: white;
    box-shadow: 0px 8px 6px -8px rgba(29, 29, 29, 0.178);

}
.work-container .project-2 {
    width: 450px;
    height: 350px;
    border: 1px solid rgba(216, 216, 216, 0.712);
    border-radius: 20px;
    background: white;
    box-shadow: 0px 8px 6px -8px rgba(29, 29, 29, 0.178);

}

.project-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.project-1 .title{
    display: flex;
    flex-direction: row;

}
.project-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.project-2 .title{
    display: flex;
    flex-direction: row;

}

.work-container h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(40, 40, 44);
    margin-left: 20px;
    margin-top: 10px;
}

.work-container p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: rgb(85, 84, 92);
    font-weight: 300;
    font-size: 18px; 
    width: 300;
    margin: auto;
}

.work-container a {
    font-family: 'Roboto', sans-serif;
    color: var(--theme-color);
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px; 
}

.work-container img {
    width: 50px;
    height: 50px;
}

.work-more {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 800px;
    height: 400px;
}
.work-more h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(40, 40, 44);
    padding-bottom: 40px; 
    font-size: 25px;
}
.work-more p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: rgb(85, 84, 92);
    font-weight: 300;
    font-size: 18px; 
    padding-bottom: 40px; 

}

.work-more button {
    color: var(--theme-color);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 500px;
    border: 2px solid var(--theme-color);
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
}

.work-more button:hover{
    background-color:var(--theme-color);
    color: white;
}

.work-more a{
    color: inherit;
}